.card {
	margin: 2rem 3.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	border-radius: 67px;

	width: 300px;
	height: 470px;

	transition: all 0.3s ease-in-out;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	h3 {
		font-size: 1.5rem;
		font-weight: 600;
	}

	p {
		font-size: 1.3rem;
	}

	&:hover {
		box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.25);
		scale: 1.05;
	}

	@media screen and (max-width: 1200px) {
		width: 200px;
		height: 300px;
		margin: 2rem 2rem;
		flex-wrap: wrap;
		h3 {
			font-size: 1.2rem;
			font-weight: 600;
		}

		p {
			font-size: 1rem;
		}
		img {
			width: 200px;
			object-fit: contain;
		}
	}

	@media screen and(max-width: 639px) {
		flex-direction: column;
		width: 250px;
		height: 400px;
		margin: 2rem;
		flex-wrap: wrap;
		h3 {
			font-size: 1.2rem;
			font-weight: 600;
		}

		p {
			font-size: 1rem;
		}
		img {
			width: 250px;
			height: 300px;
			object-fit: contain;
		}
	}
}

.activeCard {
	box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.25);
	scale: 1.1;
	&:hover {
		scale: 1.1;
	}
}

.noninteractive {
	cursor: auto;
	&:hover {
		scale: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}
